.search {
    -webkit-appearance: textfield;
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: content-box;
    font-size: 14px;
  }